<a href="https://colab.research.google.com/github/Shivaani25/Python-Project/blob/main/Shivaani_Harish_Internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

03-03-2022 Task-1
Data Types

In [ ]:
#Integer
#Pre-defined functions
type(1)

int

In [ ]:
# to do
type(12.4)

float

In [ ]:
type('string')

str

In [ ]:
type('Shivaani')

str

In [ ]:
type('2')

str

In [ ]:
type(1j + 2)

complex

In [ ]:
li=[tuple,set,dict,list,str]
type(li)

list

In [ ]:
#tuple
tuple=(tuple,set,dict,list)
type(tuple)

tuple

In [ ]:
#List
type([1,2,3,4,5,7])

list

In [ ]:
#tuple
type((1,2,3,4,5,6,7))

tuple

In [ ]:
#Dictionary
{'Name':'Raju', 'Roll_no':48, 'age':23}

{'Name': 'Raju', 'Roll_no': 48, 'age': 23}

In [ ]:
#to do
#make a dictionary add own data
dict={'Name':'Shivaani','College':'Bmsit', 'age':23, 'Course':'MCA'}
print(dict)

{'Name': 'Shivaani', 'College': 'Bmsit', 'age': 23, 'Course': 'MCA'}

In [ ]:
#Print function
print('Hello world')

Hello world

In [ ]:
#You have to print the type of the data and store it
str="Myself Shivaani Harish from BMSIT, pursuing my MCA in 4th sem..Doing my intership on data science in DLithe."
print(str)

Myself Shivaani Harish from BMSIT, pursuing my MCA in 4th sem..Doing my intership on data science in DLithe.

In [ ]:
#Variables and identifiers
str1='hello world Im Shivaani'

In [ ]:
str1

'hello world Im Shivaani'

Data operators

In [ ]:
34 * 1

34

In [ ]:
a=35
b=5

# Multiplication *
# Division /
# Floor division //
# Addition +
# Substraction -
# Exponention **
a + b
a - b
a * b
a / b
a ** b
a // b

7

In [ ]:
# addition
a + b

40

In [ ]:
#subraction
a - b

30

In [ ]:
#multiplication
a * b

175

In [ ]:
#division
a / b

7.0

In [ ]:
a ** b

52521875

In [ ]:
a // b

7

In [ ]:
34 == 25

False

Assignment operators

In [ ]:
x = 12

In [ ]:
x+=2
print(x)

14

In [ ]:
x*=3
print(x)

42

#Python logical operators
1. And
2. Or
3. Not

In [ ]:
# and 
23>45 and 49 == 49

False

In [ ]:
#or
23>45 or 49 != 49 or 2 == 2

True

In [ ]:
'shivaani' == 'Shivaani'

False

In [ ]:
#not operator
not('shivaani' == 'Shivaani')

True

##04-03-2022 Task-2

What are sequences in python


They are the containers with items that are accessiblr by indexing or string


1.Concatenation
2.Repeatation
3.Membership testing
4.Slicing
5.Indexing

In [ ]:
#Manipulation of list
#To do
#You have to make your own list(all items are integers)
li = [9,8,5,8,3,5]
print(li)

[9, 8, 5, 8, 3, 5]

In [ ]:
#append
li = [1,4,8,3,9,5,2]
li.append(7)
print(li)

[1, 4, 8, 3, 9, 5, 2, 7]

In [ ]:
#insert
li = [4,7,8,9]
li.insert(5,9)
print(li)

[4, 7, 8, 9, 9]

In [ ]:
#to do
#you have to insert 37 in 8th index and 2 in 12th index and 5 in 1000 index 

li = [1,3,4,5,6,7,8,9,10,11,23,67,89,23,12,78,90,22,67,88,89]
li.insert(8,37)
print(li)
li.insert(2,12)
print(li)
li.insert(100,5)
print(li)

[1, 3, 4, 5, 6, 7, 8, 9, 37, 10, 11, 23, 67, 89, 23, 12, 78, 90, 22, 67, 88, 89]
[1, 3, 12, 4, 5, 6, 7, 8, 9, 37, 10, 11, 23, 67, 89, 23, 12, 78, 90, 22, 67, 88, 89]
[1, 3, 12, 4, 5, 6, 7, 8, 9, 37, 10, 11, 23, 67, 89, 23, 12, 78, 90, 22, 67, 88, 89, 5]

In [ ]:
#extend
ex1 = [1,2,3,4,5,6,7]
ex2 = [4,8,9,10,34]
ex1.extend(ex2)
ex2.extend(ex1)
print("Extended list after adding ex2",ex1)
print("Extended list after adding ex1",ex2)

Extended list after adding ex2 [1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 34]
Extended list after adding ex1 [4, 8, 9, 10, 34, 1, 2, 3, 4, 5, 6, 7, 4, 8, 9, 10, 34]

In [ ]:
#sum
print(sum(ex2))

158

In [ ]:
#count
count1 = [1,4,6,87,36,86,90,65,2,2,2,2,2,37,86,36,89,62,91,63]
print(count1.count(2))

5

In [ ]:
#indexing
In = [6,7,8,9,2,3,4,1]
In.index(3)

5

In [ ]:
In[3]

9

In [ ]:
In[3:7]

[9, 2, 3, 4]

In [ ]:
#min
min(In)

1

In [ ]:
dc = [3,4,3.6,8,8,9,5,8,3,9,1,3,5,9]
min(dc)

1

In [ ]:
#max
max(dc)

9

In [ ]:
#pop
pop1 =[1,2,3,4,5,6,7,8,9]
a = pop1.pop(4)
print(pop1)
print(a)

[1, 2, 3, 4, 6, 7, 8, 9]
5

In [ ]:
pop1.pop()

9

In [ ]:
#delete
delete = [2,3,4,5]
del delete[2]
delete

[2, 3, 5]

In [ ]:
#remove
remove1 = [2.3,4,3,8,17]
b = remove1.remove(4)
print(remove1)

[2.3, 3, 8, 17]

In [ ]:
print(remove1)

[2.3, 3, 8, 17]

In [ ]:
#To do
#a = 12
#b = 3
#c = 45
#Write a swapping where a == c, b == a, c = b
a = 12
b = 3 
c = 45

a,c = c,a
print("after swapping")
print(a)

b,c= c,b
print("after swapping")
print(b)

c,a = a,c
print("after swapping")
print(a)

after swapping
45
after swapping
12
after swapping
3

In [ ]:
x = 23
y = 9
temp = x
print(temp)
x = y
y = temp
print(x)
print(y)

x,y = y,x
print(x)
print(y)

23
9
23
23
9

##String

In [ ]:
name = 'Shivaani'
course = 'MCA'
name.capitalize()

'Shivaani'

In [ ]:
name.count("i")

2

In [ ]:
name.find("h")

1

In [ ]:
name.isalpha()

True

In [ ]:
name.islower()

False

In [ ]:
name.isupper()

False

In [ ]:
name.lower()

'shivaani'

In [ ]:
name.upper()

'SHIVAANI'

In [ ]:
name.strip()

'Shivaani'

In [ ]:
a = "python is a programming language"
a.split(" ")

['python', 'is', 'a', 'programming', 'language']

In [ ]:
a.split("is")

['python ', ' a programming language']

In [ ]:
b = "Python"
c = "Language"
b+c
b + " "+ c

'Python Language'

In [ ]:
a*3

'python is a programming languagepython is a programming languagepython is a programming language'

In [ ]:
str1 = 'Hello to the kingdom'
len(str1)

20

In [ ]:
str1[3]

'l'

In [ ]:
str1[4:8]

'o to'

In [ ]:
str1[9:12]

'the'

In [ ]:
str1.replace('the','a')

'Hello to a kingdom'

## 05-03-2022 Task 3

Tuples

In [ ]:
this1 = ('mango','banana','orange','kiwi','melon','mango')

In [ ]:
this1[1]

'banana'

In [ ]:
this1[3:5]

('kiwi', 'melon')

In [ ]:
tuple1 = (1,2,3,4)
tuple2 = ('abc',3,4,'bnh')
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 'abc', 3, 4, 'bnh')

In [ ]:
tup = tuple('hello')
print(tup)

('h', 'e', 'l', 'l', 'o')

In [ ]:
#to do
#Create a tuple ('hello','world')
tu1 = tuple('hello')
tu2 = tuple('world')
print(tu1 + tu2)

('h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd')

In [ ]:
tu1 = ('hello','world')
print(tu1)

('hello', 'world')

In [ ]:
#repetation
tu = tuple("hello",) *3
print(tu)

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

In [ ]:
#tuple unpacking
tuple4 = ("hello",'good','people')
a,b,c = tuple4
print(a)
print(b)
print(c)

hello
good
people

Dictionary

In [ ]:
dic ={'name':'shivaani','age':23}

In [ ]:
#deleting the key
del dic["name"]

In [ ]:
print(dic)

{'age': 23}

In [ ]:
dic ["number"] = 1234

In [ ]:
dic ["name"] = "Shivaani"

In [ ]:
print(dic)

{'age': 23, 'number': 1234, 'name': 'Shivaani'}

In [ ]:
dic.pop("age")

23

In [ ]:
print(dic)

{'number': 1234, 'name': 'Shivaani'}

In [ ]:
#constructors
temp = dict(brand="ford",model="d2",year=2002)

In [ ]:
print(temp)

{'brand': 'ford', 'model': 'd2', 'year': 2002}

In [ ]:
aa = dict(temp)
print(aa)

{'brand': 'ford', 'model': 'd2', 'year': 2002}

In [ ]:
di = {'Dict1':{1:'get'},'Dict2':{'Name':'for'}}

In [ ]:
di

{'Dict1': {1: 'get'}, 'Dict2': {'Name': 'for'}}

In [ ]:
di['Dict1'][1]

'get'

In [ ]:
di.clear()

It is a kind of decision making forurm where to keep thestatement or not



##Conditional statements

In [ ]:
#if condition to execute(When the statement is true)
if condition:
  statement1
  stat2
  
stat3

else:
  stat4

In [ ]:
i = 5
if (i<25):
  print("i is less than 25")

print('I am not in if block')

i is less than 25
I am not in if block

In [ ]:
#To do 
#specify what it is doing : if the assigned value is equal to the initialized value the print hello or else print the initialized value thrice
#also mention and clear errors : indentation

string = "Shivaani"
if string == "Shivaani":
  print('hello')
else:
  string = string*3
  print(string)

hello

In [ ]:
string = "Shivaani"
if string == "Shivani":
  print('hello')
else:
  string = string*3
  print(string)

ShivaaniShivaaniShivaani

In [ ]:
i = 20
if (i<15):
  print("i is smaller than 15")
  print("i am in if block")

else:
  print("i is greater or equal to 15")
  print("i am in else block")

i is greater or equal to 15
i am in else block

In [ ]:
#Nested if-else
i = 40
if (i == 40):
  if(i<=15):
    print("i is smaller than 15")

  if(i<12):
    print("i is smaller than 12 too")

  else:
    print('i is greater than 15')

else:
  print()

i is greater than 15

07-03-2022 ##Task-4

In [ ]:
#if-else

if(condition):
  statements......

elif(condition):
  statements

else:
  statements

In [ ]:
i = 20
if(i == 20):
   print('i is equal to 20')
   print('we are in if block')

elif ( i == 15):
  print('i is 15')
  print('we are i elif(1) block')

elif( i == 10):
  print('i is 10')
  print('we are in elif(2) blck')

else:
  print('i is equal to nothing')
  print('i is in else block')

i is equal to 20
we are in if block

In [ ]:
i = 100
if(i == 20):
   print('i is equal to 20')
   print('we are in if block')

elif ( i == 15):
  print('i is 15')
  print('we are i elif(1) block')

elif( i == 10):
  print('i is 10')
  print('we are in elif(2) blck')

else:
  print('i is equal to nothing')
  print('i is in else block')

i is equal to nothing
i is in else block

In [ ]:
#shorthand if statement
if condition: Statement

In [ ]:
i = 10
if i == 10: print('i is less than 10')

i is less than 10

In [ ]:
#To do
#you have to explore if-else short hand code
#else - i is greater than or equal 

if i == 10:
  print('i is equal to 10')
else:
  -i >= 10
  print('i is greater than equal to 10')

i is greater than equal to 10

##For loop

In [ ]:
#for loop
for var in iterable:
  #statements

In [ ]:
l = [1,2,3,4,5,6,7]
for variable in l:
  print(variable)

1
2
3
4
5
6
7

In [ ]:
l = ['tomato','brinjal','carrot']
for i in l:
  print(i)

tomato
brinjal
carrot

In [ ]:
l = ['shivaani','sharan','sheet']
for i in l:
  for j in i:
    print(j)

s
h
i
v
a
a
n
i
s
h
a
r
a
n
s
h
e
e
t

In [ ]:
#Replace mushroom with banana
l = ['tomato','brinjal','carrot','mushroom']
l1 = [l3.replace("mushroom","banana")for l3 in l]
print(l1)

['tomato', 'brinjal', 'carrot', 'banana']

In [ ]:
s = input()

2

In [ ]:
print('String')

String

In [ ]:
print(type(s))

In [ ]:
s = list(input())

1234

In [ ]:
#to do
#improvise
print(s)

In [ ]:
s = str(input())

for i in s:
  print(i)

shivaani
s
h
i
v
a
a
n
i

In [ ]:
d = dict()
d['a'] = 123
d['b'] = 456
for i in d:
  print(i,d[i])

a 123
b 456

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    break
print('current letter',letter)

current letter w

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    pass
print('current letter',letter)

current letter d

In [ ]:
for letter in 'whenareyouold':
  if letter == 'e' or letter == 'w':
    continue
print('letter',letter)

letter d

#Range functions

In [ ]:
list(range(1,10,1)) #list(staring point,ending point,iteration))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
l = [10,20,30,40]
for i in range(len(l)):
  print(l[i], end = "  ")
print()

10  20  30  40

In [ ]:
#to do
#perform of the sum of first 10 natural numbers(use loop)
n = int(input("enter the:"))
sum = 0
for num in range(1, n +1, 1):
  sum = sum + num
print('Sum of first 10 natural numbers',sum)

enter the:10
Sum of first 10 natural numbers 55

#while loop

In [ ]:
while expression:
  statement(s)

In [ ]:
count = 0
while (count<3):
  count = count + 1
  print('hello')

hello
hello
hello

In [ ]:
a = [1,2,3,4]
while a:
  print(a.pop())

4
3
2
1

In [ ]:
i = 0
a = 'helloworld'

while i<len(a):
  if a[i] == 'e':
    i+=1
    continue
  print('current letter',a[i])
  i +=1

current letter h
current letter l
current letter l
current letter o
current letter w
current letter o
current letter r
current letter l
current letter d

In [ ]:
i = 0
a = 'helloworld'

while i<len(a):
  if a[i] == 'e':
    i+=1
    break
  print('current letter',a[i])
  i +=1

current letter h

**08-03-2022 Task-5**
Functions

In [ ]:
questions =['name','color','shape']
answers = ['apple','red','circle']
for question, answer in zip(questions,answers):
  print('What is your{0}? I am {1}.'.format(question,answer))

What is yourname? I am apple.
What is yourcolor? I am red.
What is yourshape? I am circle.

In [ ]:
n = int(input())

a = list(map(int, input().strip()))

1234
1235

In [ ]:
print(a)

[1, 2, 3, 5]

In [ ]:
Function:
  statement

In [ ]:
def eo(x):
  if (x%2 == 0):
    print('even')
  else:
    print('odd')

In [ ]:
eo(1)

odd

In [ ]:
eo(9876543258658)

even

In [ ]:
n = input().strip(' ')
a = list(map(int,n))

In [ ]:
def square_value(num):
  return num**2

print(square_value(2))

4

Lamda functions

In [ ]:
Lambda Function - whole function is written in one line itself

lambda arguments :  Expression

In [ ]:
x = lambda a: a + 5
print(x(22))

27

In [ ]:
x = lambda z: z + 5
print(x(5))

10

In [ ]:
def db(n):
  return lambda x:x*n
num_double = db(2)
print(num_double(11))

22

In [ ]:
#seperate operator
print('08','03','2022', sep='-')

08-03-2022

10-03-2022 Task-6

In [ ]:
!pip3 install pandas
!pip3 install numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)

In [ ]:
#importing the library
import pandas as pd
import numpy as np

In [ ]:
data = [1,2,3,4,45,7,"Shivaani"]
d = pd.Series(data)
print(d)
df = pd.DataFrame(d)
print(df)

0           1
1           2
2           3
3           4
4          45
5           7
6    Shivaani
dtype: object
          0
0         1
1         2
2         3
3         4
4        45
5         7
6  Shivaani

In [ ]:
import numpy as np
s = pd.Series([1,2,3,np.nan,8,9])

print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    8.0
5    9.0
dtype: float64

In [ ]:
d = pd.date_range('20220310', periods = 10)
print(d)

DatetimeIndex(['2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
import pandas as pd

s1 = pd.Series([1,3,4,5,6,2,9])
s2 = pd.Series([1.1,3.5,4.7,5.8,2.9,9.3])
s3 = pd.Series(['a','b','c','d','e'])

Data ={'first':s1, 'second':s2, 'third':s3}
dfSeries = pd.DataFrame(Data)
print(dfSeries)

   first  second third
0      1     1.1     a
1      3     3.5     b
2      4     4.7     c
3      5     5.8     d
4      6     2.9     e
5      2     9.3   NaN
6      9     NaN   NaN

In [ ]:
df.to_csv('basic.csv')

In [ ]:
a = pd.read_csv('basic.csv')
print(a)

   Unnamed: 0         0
0           0         1
1           1         2
2           2         3
3           3         4
4           4        45
5           5         7
6           6  Shivaani

In [ ]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':pd.Timestamp('20220310'),
                   'C':pd.Series(1,index = list(range(4))),
                   'D':np.array([5]*4,dtype = 'int32'),
                   'E':pd.Categorical(['test','train','train','test'])
                   })

In [ ]:
df

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.dtypes

A             int64
B    datetime64[ns]
C             int64
D             int32
E          category
dtype: object

In [ ]:
df.head()

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df.head(2)

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train

In [ ]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [ ]:
df.sort_index(axis = 1, ascending = False)

       E  D  C          B  A
0   test  5  1 2022-03-10  1
1  train  5  1 2022-03-10  2
2  train  5  1 2022-03-10  3
3   test  5  1 2022-03-10  4

In [ ]:
df.sort_values(by = 'A')

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
df[0:3]

   A          B  C  D      E
0  1 2022-03-10  1  5   test
1  2 2022-03-10  1  5  train
2  3 2022-03-10  1  5  train

In [ ]:
df.loc[d[0]]

A                      2
B    2022-03-10 00:00:00
C                      1
D                      5
E                  train
Name: 1, dtype: object

In [ ]:
df.loc[:,['A','B','C']]

   A          B  C
0  1 2022-03-10  1
1  2 2022-03-10  1
2  3 2022-03-10  1
3  4 2022-03-10  1

In [ ]:
#from position
df.iloc[3]

A                      4
B    2022-03-10 00:00:00
C                      1
D                      5
E                   test
Name: 3, dtype: object

In [ ]:
df.iloc[0:2,3:5]

   D      E
0  5   test
1  5  train

In [ ]:
df[df['A'] >2]

   A          B  C  D      E
2  3 2022-03-10  1  5  train
3  4 2022-03-10  1  5   test

In [ ]:
isnull()
dropna()
fillna()
isna(na)

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

A    2.5
C    1.0
D    5.0
dtype: float64

In [ ]:
df = pd.Series([1,2,3,np.nan,4,5]).shift(2)

In [ ]:
df

0    NaN
1    NaN
2    1.0
3    2.0
4    3.0
5    NaN
dtype: float64

In [ ]:
df.value_counts()

1.0    1
2.0    1
3.0    1
dtype: int64

In [ ]:
s = pd.Series(['education','python','jupyter',np.nan])

11-03-2022 Task-7